.DS_Store
**/*.swp

# Gradle
/build/
.gradle/

# IntelliJ Files
.idea/
*.iml 

# MCP Files
/CHANGELOG
/LICENSE.txt
/bin/
build.xml
/build/
/cleanup.bat
/cleanup.sh
/conf/
/decompile.bat
/decompile.sh
/dist/
/docs/
/eclipse/
/getchangedsrc.bat
/getchangedsrc.sh
/jars/
/logs/
/mappingviewer/
nbproject/
/r
/recompile.bat
/recompile.sh
/reformat.bat
/reformat.sh
/reobfuscate.bat
/reobfuscate.sh
/reobfuscate_srg.bat
/reobfuscate_srg.sh
/runtime/
/startclient.bat
/startclient.sh
/startserver.bat
/startserver.sh
/temp/
/updateids.bat
/updateids.sh
/updatemcp.bat
/updatemcp.sh
/updatemd5.bat
/updatemd5.sh
/updatenames.bat
/updatenames.sh
/src/minecraft/net
/src/minecraft/mcp
/classes

*.class
