.DS_Store\n**/*.swp\n\nrun/\nautotest/\ndist/\nvolderyarn/\n\n# Gradle\nbuild/\n.gradle/\nclasses/\n*.class\n\n/out\n\n# IntelliJ Files\n.idea/\n*.iml\n*.ipr\n*.iws\n/logs/\n\ntweaker/logs/\ncommon/logs/\n\n# Eclipse Files\n.classpath\n.project\n.settings/\nbaritone_Client.launch\n\n# Copyright Files\n!/.idea/copyright/Baritone.xml\n!/.idea/copyright/profiles_settings.xml\n\n.vscode/launch.json\n.architectury-transformer\n\n\nmapping\n\nlibs/lwjgl-platform-2.9.4-nightly-20150209-natives-osx.jar\nlibs/java-objc-bridge-1.1.jar\n\nmapping\n**/.metadata/
